.login {
  padding: 0 2.4rem;
  max-height: 100%;
  overflow-y: auto;

  .app--input {
    margin-top: 2.4rem;
  }

  &--register {
    width: 100%;
    display: flex;
    justify-content: center;

    p {
      text-align: center;
      font-size: 1.6rem;
      color: var(--app-light);
    }
  }

  &--buttons {
    display: flex;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
  }
}
